mao_planner_hw:
  remap_source_args:
  - "/mao_planner_hw/microinterpolator/follow_joint_trajectory/cancel"
  - "/mao_planner_hw/microinterpolator/follow_joint_trajectory/feedback"
  - "/mao_planner_hw/microinterpolator/follow_joint_trajectory/goal"
  - "/mao_planner_hw/microinterpolator/follow_joint_trajectory/result"
  - "/mao_planner_hw/microinterpolator/follow_joint_trajectory/status"
  - "/mao_planner_hw/js_pub/joint_states"
  remap_target_args:
  - "/human_right_arm/follow_joint_trajectory/cancel"
  - "/human_right_arm/follow_joint_trajectory/feedback"
  - "/human_right_arm/follow_joint_trajectory/goal"
  - "/human_right_arm/follow_joint_trajectory/result"
  - "/human_right_arm/follow_joint_trajectory/status"
  - "/mao/joint_states"

  js_pub:
    type: cnr/control/JointStatePublisher
    controlled_joint: all
    base_link: world
    tool_link: RightTip
    robot_description_param: /robot_description
    robot_description_planning_param: /robot_description_planning


  microinterpolator:
    type: "cnr/control/ScaledFJTPosController"
    controlled_joints: all
    continuity_order: 1
    overrides:
    - safe_ovr_mao

  joint_teleop:
    type: cnr/control/JointTeleopController
    controlled_joints: all
