<?xml version="1.0"?>
<launch>
  
  <arg name="name_space" default="/"/>
  
  <group ns="$(arg name_space)">
    <rosparam command="load" file="$(find hrc_simulator_configurations)/config/ral_objects.yaml"/>
    <node pkg="object_loader" name="scene_spawner" type="scene_spawner" output="screen"/>
  </group>
  
</launch>


